@font-face {
	font-family: 'wpsofa-font';
	src: url('../fonts/wpsofa-font.eot'); /* IE9 Compat Modes */
	src: url('../fonts/wpsofa-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/wpsofa-font.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../fonts/wpsofa-font.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	font-display: block;
}


$icons: (
	cassette: "\e904",
	star-solid:"\e907",
	star-regular: "\e908",
	twitch: "\e900",
	twitter: "\e901",
	youtube: "\e902",
	download: "\e903",
	spotify:"\e905",
	itunes: "\e906",
	watch: "\e909",
	tacho4: "\e90a",
	tacho3: "\e90c",
	tacho2: "\e90b",
	tacho1: "\e90d",
	tacho0: "\e90e",
	google-podcasts: "\e90f",
);

@mixin icon($position: before, $icon: false, $styles: true) {
	@if $position == both {
		$position: "before, &:after";
	}
	// Either a :before or :after pseudo-element, or both, defaulting to :before
	&:#{$position} {
		@if $icon {
			// A particular icon has been specified
			content: "#{map-get($icons, $icon)}";
		}
		@if $styles {

			font-family: 'wpsofa-font' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 26px;
			position: relative;
			top: 4px;
		}
		// Include any extra rules supplied for the pseudo-element
		@content;
	}
}

.icon-cassette {
	@include icon(before, cassette){
		top: 4px;
	};
}
.icon-star-solid{
	@include icon(before, star-solid);
}
.icon-star-regular{
	@include icon(before, star-regular);
}

.icon-twitch{
	@include icon(before, twitch);
}
.icon-twitter{
	@include icon(before, twitter);
}
.icon-youtube{
	@include icon(before, youtube);
}
.icon-download{
	@include icon(before, download);
}
.icon-spotify{
	@include icon(before, spotify);
}
.icon-itunes{
	@include icon(before, itunes);
}
.icon-google-podcasts{
	@include icon(before, google-podcasts);
}
.icon-watch-light{
	@include icon(before, watch);
}
.icon-progress[data-progress="85"]{
	@include icon(before, tacho4);
}
.icon-progress[data-progress="70"]{
	@include icon(before, tacho3);
}
.icon-progress[data-progress="45"]{
	@include icon(before, tacho2);
}
.icon-progress[data-progress="15"]{
	@include icon(before, tacho1);
}
.icon-progress[data-progress="0"]{
	@include icon(before, tacho0);
}

