@font-face {
	font-family: 'wpsofa-font';
	src: url('../fonts/wpsofa-font.eot'); /* IE9 Compat Modes */
	src: url('../fonts/wpsofa-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/wpsofa-font.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../fonts/wpsofa-font.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

// For adding font icons to elements using CSS pseudo-elements (based on: http://jaydenseric.com/blog/fun-with-sass-and-font-icons)
// ===============================================================================================================================
/**
    Requirements:
    * $default-icon-font (must be declared before @import "mixins/font-icon")
    * $icon must be a map ()
    e.g.
    $icons: (
      arrow-slim-left: "\e823",
      arrow-slim-right: "\e811
    }
    Usage:
    @include icon( pseudo-element position [after, before, both], icon-name, supportive-icon-styles [false, true] );
    Example:
    .icon-email{
       @include icon( before, email); OR @include icon( before, email, true);
    }
    Customize Icons Example:
    .icon-email{
       @include icon( before, email){
          font-size: 32px;
          color: #ff0000;
       }
    }
**/

@mixin icon($position: before, $icon: false, $styles: false) {
    @if $position == both {
        $position: 'before, &:after';
    }
    // Either a :before or :after pseudo-element, or both, defaulting to :before
    &:#{$position} {
        @if $icon {
            // A particular icon has been specified
            content: $icon;
        }
        @if $styles {
            // Supportive icon styles required
            font-family: $default-icon-font;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        // Include any extra rules supplied for the pseudo-element
        @content;
    }
}

.icon-cassette:before {
	@include icon;
	content: "\e904";
}
.icon-star-solid:before {
	@include icon;
	content: "\e907";
}
.icon-star-regular:before {
	@include icon;
	content: "\e908";
}

.icon-twitch:before {
	@include icon;
	content: "\e900";
}
.icon-twitter:before {
	@include icon;
	content: "\e901";
}
.icon-youtube:before {
	@include icon;
	content: "\e902";
}
.icon-download:before {
	@include icon;
	content: "\e903";
}
.icon-spotify:before {
	@include icon;
	content: "\e905";
}
.icon-itunes:before {
	@include icon;
	content: "\e906";
}
.icon-watch-light:before {
	@include icon;
	content: "\e909";
}
.icon-progress[data-progress="85"]:before {
	@include icon;
	content: "\e90a";
}
.icon-progress[data-progress="70"]:before {
	@include icon;
	content: "\e90c";
}
.icon-progress[data-progress="45"]:before {
	@include icon;
	content: "\e90b";
}
.icon-progress[data-progress="15"]:before {
	@include icon;
	content: "\e90d";
}
.icon-progress[data-progress="0"]:before {
	@include icon;
	content: "\e90e";
}

